@model ExchangeBook.Models.User
@{ 
    var values = ViewBag.values;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giriş</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form">
                    <span class="login100-form-title p-b-26">
                        Değiş Tokuş
                    </span>
                    <span class="login100-form-title p-b-48">
                        <img width="50px;" src="~/adsiter/images/logo.png" />
                    </span>
                    @using (Html.BeginForm("Register", "Login", FormMethod.Post))
                    {
                        <div class="wrap-input100 validate-input" data-validate="Ad Girin">
                            @Html.TextBoxFor(m => m.Name, new { @class = "input100", placeholder = "Ad" })
                            @Html.ValidationMessageFor(m=>m.Name,"",new { @style="color:red"})
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Soyad Girin">
                            @Html.TextBoxFor(m => m.Surname, new { @class = "input100", placeholder = "Soyad" })
                            @Html.ValidationMessageFor(m => m.Surname, "", new { @style = "color:red" })
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Kullanıcı Adı Girin">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "input100", placeholder = "Kullanıcı Adı" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @style = "color:red" })
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Email Girin">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input100", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:red" })
                        </div> 
                        <div class="wrap-input100 validate-input" data-validate="Email Girin">
                            @Html.DropDownListFor(m => m.CityId, (IEnumerable<SelectListItem>)values, new { @class = "input100" })

                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Parola Girin">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            @Html.PasswordFor(m => m.Password, new { @class = "input100", placeholder = "Parola" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Parola Tekrarı Girin">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            @Html.PasswordFor(m => m.Password2, new { @class = "input100", placeholder = "Parola Tekrarı" })
                            @Html.ValidationMessageFor(m => m.Password2, "", new { @style = "color:red" })
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" id="registerBtn">
                                    Kayıt Ol
                                </button>
                            </div>
                        </div>
                    }
                        <div class="text-center p-t-115">

                        </div>
                    </div>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/js/main.js"></script>

</body>
</html>